# Ignore macOS system files used to store folder metadata
.DS_Store
**/.ok_history
**/.ok_messages
**/.ok_storage
**/__pycache__
**/.ok_storage.dat
**/.ok_storage.dir
**/.ok_storage.bak
*ok*
**/__pycache__
/tests/
